<div id="articles">
	<h2 id="month"><%= @date.strftime("%B %Y") %></h2>

	<%= hours(true, @availability) %>
	
	<%= weekly_calendar @date do |date| %>
		<%#= date.day %>
    <%= hours false, @availability %>
	<% end %>
</div>