// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$day_cell_width: 100px;
$half_hour_height: 25px;
$hour_height: 51px;

.hours {
  width: $day_cell_width;
  float:left;
  margin-top: 26px;


  .hour, .half_hour {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

  .hour {
    height: $hour_height;
  }

  .half_hour {
    height: $half_hour_height;
  }

  .break {
    border-top: 1px solid gray;
    height: 15px;
  }
}


.calendar {
  border-collapse: collapse;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    border: 0px solid #999;
    width: $day_cell_width;
  }

  th {
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;

    .hours {
      margin-top: 0px;
    }
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

.day {
  color: black;
  border-top: 1px solid #777;
}